{% extends 'continuum/base.html' %}
{% block title %} Create Voting Process {% endblock %}

{% block body %}
    <h5 class="border-bottom border-gray pb-2 mb-0">Create a Voting Process</h5>
    {% if number_of_processes == 0 %}
        <p><b>There are no voting processes...</b><br>Please start by creating one!</p>
    {% else %}
        <p>Please fill this form to create a new voting process</p>
    {% endif %}
    <ul>
        <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'continuum/form_template.html' %}
            <div class="form-group">
                <div class="col-sm">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
    </ul>
{% endblock %}