{% extends 'continuum/base.html' %}
{% block title %} Index {% endblock %}
{% block body %}

    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/team.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#nogo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#nogo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <div class="row">
    {% if error_message %}
            <p><strong>{{ error_message }}</strong></p>
        {% endif %}
    </div>
    <div class="row">
        {% if questions %}
            <ul>
                {% for question in questions %}
                    <li><a href="{% url 'continuum:detail' question.id %}">{{ question.question_text.upper }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No voting processes are available, please create one by selecting the 'Question' tab at the navigation bar.</p>
        {% endif %}
    </div>

    </div>
{% endblock %}