{% extends 'continuum/base.html' %}
{% block title %} Home {% endblock %}
{% block body %}

    <div class="row">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="/static/team.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <a class="carousel-control-prev" href="#nogo" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#nogo" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    {% if message %}
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-success" role="alert">
                    {{ message }}
                </div>
            </div>
        </div>
    {% elif error_message %}
        <div class="row">
            <div class="col-sm">
                <div class="alert alert-danger" role="alert">
                    {{ error_message }}
                </div>
            </div>
        </div>
    {% elif voting_processes %}
        <div class="row">
            <div class="col-sm">
                <h4 class="border-bottom border-gray pb-2 mb-0">View Voting Processes</h4>
            </div>
        </div>
        <div class="row">
        <div class="col-sm">
            Sorting newest first, click to view results.
        </div>
        </div>
        {% for voting_process in voting_processes %}
            <div class="row">
                <div class="col-sm">
                    <div class="media text-muted pt-3">
                        <img src="/static/medusa.svg" height="32px" , width="32px">
                        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                            <strong class="d-block text-gray-dark">
                                                    <a href="{% url 'continuum:results' voting_process.id %}">
                                {{ voting_process.question_text.upper }}
                                                    </a>
                            </strong>
                            {{ voting_process.budget }}
                        </p>
                    </div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="alert alert-danger" role="alert">
            No voting processes are available, please create one by selecting the 'Create Voting Process' tab at the
            navigation bar.
        </div>
    {% endif %}
    </div>

    </div>
{% endblock %}