{% extends 'continuum/base.html' %}
{% block title %} Project Details {% endblock %}

{% block body %}
    <h6 class="border-bottom border-gray pb-2 mb-0">View Projects</h6>
    {% if projects.count == 0 %}
        <p><b>There are no projects...</b><br>Please start by adding one!</p>
    {% else %}
        {% for choice in choices %}

            <div class="media text-muted pt-3">
                <img src="/static/medusa.svg" height="32px" , width="32px">
                <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                    <a href="{% url 'continuum:view_choice_details' choice.id %}">
                        <strong class="d-block text-gray-dark">
                            {{ choice.choice_text.upper }}
                        </strong>
                    </a>
                    {{ choice.cost }}
                </p>
            </div>
        {% endfor %}
    {% endif %}

{% endblock %}