{% extends 'continuum/base.html' %}
{% block title %} Project Details {% endblock %}

{% block body %}
    <h6 class="border-bottom border-gray pb-2 mb-0">Name: {{ choice.choice_text.upper }}</h6>
    <div class="media text-muted pt-3">
        <img src="/static/medusa.svg" height="32px" , width="32px">
        <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong>Description: </strong>{{ choice.description.lower }}
        </p>
    </div>
    <h6>Cost:</h6>
        <ul>
            <li>{{ choice.cost }}</li>
        </ul>
{% endblock %}